body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0b5ed7;
}
.login-box h2 {
  text-align: center;
  color: #0d6efd;
  margin-bottom: 10px;
}

.login-box h3 {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password,
.switch-login {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a,
.switch-login a {
  color: #0d6efd;
  text-decoration: none;
}

.forgot-password a:hover,
.switch-login a:hover {
  text-decoration: underline;
}